@model EsLSFront.Models.FrontAuthModel
@{
    ViewData["Title"] = "Register";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>
<form asp-action="Register">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label for="inputUsername">User name</label>
        <input maxlength="64" class="form-control" id="inputUsername" asp-for="Username" placeholder="User name">
        <span asp-validation-for="Username" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" id="inputPassword" asp-for="Password" placeholder="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
