@{
    ViewData["Title"] = "Authorization required";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>The action you tried to perform requires you to <a href="/Auth/Login">log in</a> first.</p>
</div>


